table.table.table-striped.table-bordered
    thead
        tr

            th User name
            th Join game
    tbody
        tr(ng-repeat="user in users", ng-if="user != name")
            th(scope='row') {{user}}
            td
                    a(href="/game/{{user}}", ng-click="gameInvite(user)").pointer {{user}}

    .