extends layout

block body
    div(ng-controller='AppCtrl')
        h2 Hello {{name}}
        ul.menu
            li
                a(href='presence') Status
            li
                a(href='game') Games

        div(ng-view)
        div
            | Puissance 4: v
            span(app-version)
            p(ng-repeat='user in users')

    script(src='/socket.io/socket.io.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-socket-io/socket.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/factory.js')
    script(src='js/app.js')