extends layout

block body
    div(ng-controller='AppCtrl').container
        h2 Hello {{name}}
        div.row
            div.col-md-4

                div.panel.panel-default
                    div.panel-heading
                        b Menu
                    div.panel-body
                        ul.menu
                            li
                                a(href='presence') Players list.
                            li
                                a(href='game') Games list.
            div.col-md-4.col-md-offset-4
                div.panel.panel-default
                    div.panel-heading
                        b Actions required
                    div.panel-body
                        ul
                            li(ng-repeat="game in games", ng-if='game.waitAction')
                                a(href='/game/{{game.enemy}}') {{game.enemy}}
                                &#32; is waiting for you move.
                            li(ng-show="!actionRequired") No Action required

        div(ng-view)
        div
            | Puissance 4: v
            span(app-version)


    script(src='/socket.io/socket.io.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-socket-io/socket.js')

    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/factory.js')
    script(src='js/app.js')