.pointer {
    cursor: pointer;
}
div.blue {
    background: blue;
}
div.white {
    background: white;
    height: 60px;
}
div.cell {
    height: 60px;
    border: 1px;
    border-style: solid;
    /*background-color: white;*/
    border-radius: 50%;
    margin: 2px;

}
div.yellow {
    background-color: yellow;
    height: 60px;
    border: 0px;
}
div.red {
    background-color: red;
    height: 60px;
    border: 0px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
/*
 TOP BUFFER
 */

.topbuffer-small {
    margin-top: 10px;
}

.topbuffer {
    margin-top: 20px;
}

.topbuffer-x2 {
    margin-top: 40px;
}
